[submodule "Backend/about-me-test"]
	path = Backend/about-me-test
	url = https://github.com/Ando-Lalaina/portfolio-api-about-me.git
[submodule "Backend/about-me"]
	path = Backend/about-me
	url = https://github.com/Ando-Lalaina/portfolio-api-about-me.git
[submodule "Backend/api-cloud-computing"]
	path = Backend/api-cloud-computing
	url = https://github.com/Ando-Lalaina/portfolio-api-cloud-computing.git
[submodule "Backend/software-dev"]
	path = Backend/software-dev
	url = https://github.com/Ando-Lalaina/portfolio-api-software-dev.git
[submodule "Backend/news"]
	path = Backend/news
	url = https://github.com/Ando-Lalaina/portfolio-api-news.git
[submodule "Backend/jwt"]
	path = Backend/jwt
	url = https://github.com/Ando-Lalaina/portfolio-api-jwt.git
[submodule "Backend/contact-me"]
	path = Backend/contact-me
	url = https://github.com/Ando-Lalaina/portfolio-api-contact-me.git
[submodule "Backend/cloud-computing"]
	path = Backend/cloud-computing
	url = https://github.com/Ando-Lalaina/portfolio-api-cloud-computing.git
